
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <title>Kategori Tablosu</title>
    <!-- Diğer stil ve script dosyaları -->
</head>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>tablo örneği - kategori</h3>
<br />
<table class="table table-border">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>eğitim</td>
        <td>açıklama</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>eğitim</td>
        <td>açıklama</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-info" >Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>